html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html {overflow-x: auto}

body {
	background-color: rgb(15, 14, 14);
	min-width: 600px;
	position: relative;
}

.root {
	overflow-x: auto;
	height: 100vh;
	display: flex;
	position: relative;
}
.root::-webkit-scrollbar {
	display: none;
}

.memories {
	min-width: 50vw;
}

.cloud_container {
	transform: translateY(50%);
	margin: 0 auto;
	width: 300px;
}

.biopunk_container {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(./img/biohazard.svg);
}

/* Fog */
.fog {
	pointer-events: none;
	overflow: hidden;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.fog:before, .fog div:before, 
.fog:after, .fog div:after {
	content: "";
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	left: 0;
	top: 0;
	height: 100%;
	width: 100vw;
	position: absolute;
}

.fog div:before, 
.fog div:after {left: 100vw}

.fog:before, .fog div:before {
	animation: fogmove 40s linear 0s infinite;
	background-image: url("./img/ash1.png");
}

.fog:after, .fog div:after {
	animation: fogmove 20s linear 0s infinite;
	background-image: url("./img/ash2.png");
}

@keyframes fogmove {
	from {
		transform: translate3d(0, 0, 0)
	}
	to {
		transform: translate3d(-100vw, 0, 0)
	}
}