<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}{{ if not .IsHome }}{{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }} ">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href='{{ "css/hugr.css" | relURL }}' />
    <link rel="stylesheet" href='{{ "css/search.css" | relURL }}' />
    <link rel="stylesheet" href='{{ "css/shortcode.css" | relURL }}' />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/lteIE9.css?v=0.1" />
    <![endif]-->
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" href="/css/lteIE8.css?v=0.1" />
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/css/IE8.css?v=0.1" />
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/css/IE7.css?v=0.1" />
    <![endif]-->
    <script type="text/javascript" src="/js/core/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/js/core/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="/js/search.js"></script>
</head>