<header id="hat" class="default">
    <div class="center p_relative in_the_middle">
        <nav class="base_height fl p_relative menu-main">
            <ul>
                <li class="fl"><a class="menuBtn" title="Ссылки" href="javascript:void(0)" href="/">
                    <span class="logo">{{ .Site.Title }}</span>
                </a></li>
                {{ range .Site.Menus.main }}
                <li class="fl"><a href="{{ .URL }}">
                    {{ .Pre }} {{ .Name }}
                </a></li>
                {{ end }}
            </ul>
        </nav>

        <div class="search-in"><span><i class="fa fa-search"></i></span></div>
        {{ if eq .Site.Params.Site.Mode "auto" }}
            <div class="mode">
                <span class="sun"><i class="fa fa-sun-o"></i></span>
                <span class="moon"><i class="fa fa-moon-o"></i></span>
            </div>
        {{ end }}

    </div>

    <a id="pull" href="#" class="t_center base_height base_width p_relative">Меню</a>
</header>

<div class="p_fixed slidenav">
    <div class="castration cover p_relative atcScreen">
        {{ if and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang) }}
            {{ partial "widgets/selectLang.html" . }}
        {{ end }}
    </div>
</div>