{{ $enable_mulu := and .Site.Params.Valine.enable (or (eq .Section "about") (eq .Kind "page")) }}
<aside class="fr p_relative sidebar">
    <section class="update">

        <ul class="castration fr p_relative tabs-titles">
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-categories"><span>Вселенная</span></a>
            </li>
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-interesting"><span>Клетка тегов</span></a>
            </li>
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-test"><span>Однажды</span></a>
            </li>
        </ul>

        <div class="castration fl p_relative inner">
            <div id="update-categories">
                {{ partial "widgets/author-card.html" . }}
            </div>
            <div id="update-interesting">
                {{ partial "widgets/mulu.html" . }}
            </div>
            <div id="update-test">
                {{ partial "widgets/other.html" . }}
            </div>
        </div>

    </section>
</aside>