<!DOCTYPE html>
<html{{ if eq .Site.Language.LanguageCode "en" }} class="rooTykhon" {{ end }} lang="{{ .Site.Language.LanguageCode }}" xmlns="http://www.w3.org/1999/xhtml">

    {{- partial "head/head.html" . -}}

    <body>

        <div class="base_width p_relative wrap"> <div id="overlay" class="base_width p_fixed"></div>

            <div class="center media_base_width p_relative breadcrumbs" prefix="v: http://rdf.data-vocabulary.org/#">
                <!--<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">{{ i18n "Home_latestPosts" }}</span>-->
            </div>

            {{- partial "header/header.html" . -}}
            {{ partial "header/search.html" . }}
            {{ partial "widgets/vars.html" . }}

            {{ partial "widgets/hero.html" . }}

            <div id="container" class="center media_base_width p_relative clearfix">
                {{- block "main" . }}{{- end }}
            </div>

            {{- partial "footer/footer.html" . -}}

        </div>

        {{- partial "footer/hugr-init.html" . -}}

    </body>
</html>