// themes
$black      : #000;
$gray       : #ededed;
$white      : #fff;
$bd     : #dfdde3;


// system
$blue       : #0201fd;
$red        : #EB0202;
$orange     : #FF7851;
$grey       : #898c93;

// set
$hover      : $orange;
$background : $white;