{{ $langNow := .Lang }}
{{ $isMultiLingual := and (ne .Site.Language.Weight 1) (and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang)) }}
<div class="commercial">
    {{ with .Site.Author.image }}
    <img class="lazyload" src="{{ . }}" alt="">
    {{ end }}
    <div class="name">{{ .Site.Author.name }}</div>
    <div class="jianjie">{{ .Site.Author.description }}</div>
</div>

<ul>
    {{ range .Site.Menus.social }}
    <li><a href="{{ .URL }}">
        {{ .Pre }} {{ .Name }}
    </a></li>
    {{ end }}
</ul>