{{ $categorypostsImg := .Site.Params.page.defaultPostImg }}
{{ range .Data.Terms.ByCount }}
{{ $pageTitle := .Page.Title }}
{{ $pageCount := .Count }}
<li class="castration base_width p_relative grid">
    <div class="castration fl p_relative text">
        <a class="castration fl p_relative grid_cover" href="{{ .Page.Permalink }}">
            {{ $firstChild := index .Pages 0 }}
            {{ with $firstChild.Params.image }}
                <img class="cover p_absolute" src="{{ . }}" alt='{{ $pageTitle }}' />
            {{ else }}
                <img class="cover p_absolute cover p_absolute" src="{{ $categorypostsImg }}" alt='{{ $pageTitle }}' />
            {{ end }}
        </a>
        <h3><a href="{{ .Page.Permalink }}">{{ $pageTitle }}</a></h3>
        <p>
            <span><i class="fa fa-bar-chart" aria-hidden="true"></i> {{ $pageCount }} {{ i18n "Categories_postUnit" $pageCount }}
            </span>
        </p>
    </div>
</li>
{{ end }}