{{ if .PrevInSection }}
    {{ if .NextInSection }}
        {{ with .PrevInSection }}
        <a class="fl share" href="{{ .Permalink }}">
            <i class="fa fa-hand-o-left"></i> {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a class="fr share" href="{{ .Permalink }}">
            <i class="fa fa-hand-o-right"></i> {{ .Title }}
        </a>
        {{ end }}

    {{ else }}
        {{ with .PrevInSection }}
        <a class="fl share" href="{{ .Permalink }}">
            <i class="fa fa-hand-o-left"></i> {{ .Title }}
        </a>
        {{ end }}
    {{ end }}

{{ else }}
    {{ if .NextInSection }}
        {{ with .NextInSection }}
        <a class="fr share" href="{{ .Permalink }}">
            <i class="fa fa-hand-o-right"></i> {{ .Title }}
        </a>
        {{ end }}
    {{ end }}
{{ end }}