{{ $langNow := .Lang }}
{{ $isMultiLingual := and (ne .Site.Language.Weight 1) (and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang)) }}
<ul>
    <li><a href='{{ if $isMultiLingual }}
        {{ $langNow | relURL}}/posts
    {{ else }}
        {{ "posts/" | relURL }}
    {{ end }}'>
        {{ i18n "sidebar_posts" (len .Site.RegularPages) }} : {{ len .Site.RegularPages }}
    </a></li>
    <li><a href='{{ if $isMultiLingual }}
        {{ $langNow | relURL}}/categories
    {{ else }}
        {{ "categories/" | relURL }}
    {{ end }}'>
        {{ i18n "sidebar_categories" (len .Site.Taxonomies.categories) }} : {{ len .Site.Taxonomies.categories }}
    </a></li>
    <li><a href='{{ if $isMultiLingual }}
        {{ $langNow | relURL}}/tags
    {{ else }}
        {{ "tags/" | relURL }}
    {{ end }}'>
        {{ i18n "sidebar_tags" (len .Site.Taxonomies.tags) }} : {{ len .Site.Taxonomies.tags }}
    </a></li>
</ul>